* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body-top{
  padding: 50px 100px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 8px;
}

.body-list:nth-child(odd){
  background-color: antiquewhite;
}

.body-list:nth-child(even){
  background-color: #7f7f7f;
}

.body-list{
  width: 960;
  height: 20px;
  color: #000;
  text-align: left;
}

.body-bottom{
  padding: 50px 0;
  margin: 0 auto;
  width: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-bottom-content{
  padding: 0;
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body-box:nth-child(1){
  margin-right: 5%;
  background-color: #7f7f7f;
}

.body-box:nth-child(2){
  margin-right: 5%;
}

.body-box:nth-child(4){
  margin-right: 5%;
}

.body-box:nth-child(5){
  margin-right: 5%;
  background-color: #7f7f7f;
}

.body-box:nth-child(7){
  margin-right: 5%;
}

.body-box:nth-child(8){
  margin-right: 5%;
}

.body-box:nth-child(9){
  background-color: #7f7f7f;
}

.body-box{
  margin-bottom: 40px;
  height: 200px; 
  width: 30%;
  background-color: aliceblue;
}

